.outer {
    height: 100vh;
    overflow-y: auto;
}
  
.outer::-webkit-scrollbar {
    display: none;
}
  
.sections {
    height: 100vh;
    display: flex;
    align-items: center;
    font-size: 50px;
}
  
.s1 {
    color: #000000;
    background-color: #ffffff;
}
  
.s2 {
    color: #000000;
    background-color: #ffffff;
}
  
.s3 {
    color: #000000;
    background-color: #ffffff;
}
