.maincard {
  width: 400px;
  height: 400px;

  padding: 2rem;
  float: left;
  /* margin-left: 3%; */
  margin-top: 3%;
  text-align: center;
  vertical-align: middle;
}
.profile {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile:hover {
  transform: rotateY(180deg)
}

.thefront {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hidden;
  background: #ffffff;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #ffffff; 
  box-shadow: 3px 3px 3px 3px #ffffff;
  padding: 10px
}
.theback {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: hidden;
  background: #ffffff;
  color: #fff;
  border-radius: 10px;
  transform: rotateY(180deg);
  border: 1px solid #ffffff;
  box-shadow: 3px 3px 3px 3px #ffffff;
  padding: 10px
}

.img {
  clip-path: circle();
  /* border-radius: 10%;
  border: 3px solid #5f5f79; */
}

.name {
  color: black;
  font-weight: bold;
}
.team {
  color: #7c7c7c;
  line-height: 3ch;
}

.comment{
  color: black;
  font-size: 13.5px;
}

.recommend{
  color: black;
  line-height: 2.8ch;
}

.caption {
  color: black;
  line-height: 2.8ch;
}
.title {
  text-align: center;
  margin-top: 3%;
}

.subtitle{
  text-align: center;
  margin-top: 1%;
}