.maincard {
  width: 390px;
  height: 370px;
  padding: 1rem;
  position: relative;
  transform: perspective(500px);
  transition: 1s;
  position: relative;
  transform-style: preserve-3d;
}
.profile {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.p {
  padding: 10rem;
  display: inline-fleX;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.maincard:hover {
  transform: rotateY(180deg);
}
.cardSide {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: 3px 3px 3px 3px white;
  padding: 10px;
  border: 1px solid w;
  backface-visibility: hidden;
  background-color: hidden;
  background: white;
  color: #fff;
  border-radius: 10px;
}
.front {
  text-align: center;
  cursor: pointer;
}
.back {
  position: absolute;
  cursor: pointer;
  transform: rotateY(180deg);
}

.img {
  clip-path: circle();
  /* border-radius: 10%;
  border: 3px solid #5f5f79; */
}

.name {
  padding-top: 5px;
  color: black;
  font-weight: bold;
  text-align: center;
}
.team {
  color: #7c7c7c;
  line-height: 3ch;
  text-align: center;
}

.comment {
  color: black;
  font-size: 13.5px;
  text-align: center;
}

.recommend {
  color: black;
  line-height: 2.8ch;
  font-size: 20px;
  font-style: oblique;
}

.caption {
  color: black;
  line-height: 2.8ch;
}
.title {
  text-align: center;
  margin-top: 5%;
}

.subtitle {
  text-align: center;
  margin-top: 1%;
}
